h1{
    color:blueviolet;
    font-size:30px;
}
#image2{
	width:400px;
}
.couleur{
	color: darkgray;
}
header{
	background-color: beige;
}
.couleur2{
	color: red;
}
p{
	background-color: white;
}
#B{
	background-color: white;
}
#N{
	background-color: beige;
}
section{
	display: flex;
}